openapi: 3.0.3

info:
  title: API de Produtos
  description: Produtos de Venda da Empresa X
  termsOfService: http://swagger.io/terms
  contact:
    email: fatec@fatecfranca.edu.br
  license:
    name: Apache 2.0
    url: http://swagger.io/terms
  version: 1.0.0

servers:
  - url: http://sistema-compass-homolog.com.br
  - url: https://sistema-compass.com.br

paths:
  /produtos:
    post:
      summary: Cadastra novos produtos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProdutoRequest"
      responses:
        '201':
          description: Sucesso ao cadastrar produto
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProdutoResponse"
    get:
      summary: Busca produtos com filtros
      parameters:
        - name: descricao
          in: query
          description: Descrição do produto para filtro
          required: false
          schema:
            type: string
        - name: categorias
          in: query
          description: Categoria(s) do produto para filtro
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Produtos encontrados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProdutoResponse"
        '404':
          description: Nenhum produto encontrado
  /produtos/{id}:
    get:
      summary: Busca produto por ID
      parameters:
        - name: id
          in: path
          description: ID do produto
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Produto encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProdutoResponse"
        '404':
          description: Produto não encontrado
    put:
      summary: Atualiza um produto existente
      parameters:
        - name: id
          in: path
          description: ID do produto
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProdutoRequest"
      responses:
        '200':
          description: Produto atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProdutoResponse"
        '404':
          description: Produto não encontrado
    delete:
      summary: Remove um produto
      parameters:
        - name: id
          in: path
          description: ID do produto
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Produto removido com sucesso
        '404':
          description: Produto não encontrado

components:
  schemas:
    ProdutoRequest:
      type: object
      properties:
        descricao:
          type: string
          description: Descrição do produto
          example: Geladeira
          maxLength: 100
          minLength: 5
        preco: 
          type: object
          properties:
            custo:
              type: number
              format: decimal
              example: 19.99
              description: Preço de custo do produto
            venda:
              type: number
              format: decimal
              example: 25.87
              description: Preço de venda do produto
        categorias:
          type: array
          items:
            type: string
          example: ["A", "B"]
      required:
        - descricao
        - preco
        - categorias

    ProdutoResponse:
      type: object
      properties:
        id:
          type: integer
          example: 29394
        descricao:
          type: string
          description: Descrição do produto
          example: Geladeira
        preco: 
          type: object
          properties:
            custo:
              type: number
              format: decimal
              example: 19.99
              description: Preço de custo do produto
            venda:
              type: number
              format: decimal
              example: 25.87
              description: Preço de venda do produto
        categorias:
          type: array
          items:
            type: string
          example: ["A", "B"]
